/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html{
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
}

/* lato-100 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: url('../font/lato-v22-latin-100.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/lato-v22-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/lato-v22-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/lato-v22-latin-100.woff') format('woff'), /* Modern Browsers */
       url('../font/lato-v22-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/lato-v22-latin-100.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-100italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: url('../font/lato-v22-latin-100italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/lato-v22-latin-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/lato-v22-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/lato-v22-latin-100italic.woff') format('woff'), /* Modern Browsers */
       url('../font/lato-v22-latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/lato-v22-latin-100italic.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('../font/lato-v22-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/lato-v22-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/lato-v22-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/lato-v22-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../font/lato-v22-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/lato-v22-latin-300.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-300italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url('../font/lato-v22-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/lato-v22-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/lato-v22-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/lato-v22-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('../font/lato-v22-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/lato-v22-latin-300italic.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../font/lato-v22-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/lato-v22-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/lato-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/lato-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../font/lato-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/lato-v22-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('../font/lato-v22-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/lato-v22-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/lato-v22-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/lato-v22-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../font/lato-v22-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/lato-v22-latin-italic.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url('../font/lato-v22-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/lato-v22-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/lato-v22-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/lato-v22-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../font/lato-v22-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/lato-v22-latin-700italic.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../font/lato-v22-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/lato-v22-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/lato-v22-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/lato-v22-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../font/lato-v22-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/lato-v22-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('../font/lato-v22-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/lato-v22-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/lato-v22-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/lato-v22-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../font/lato-v22-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/lato-v22-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-900italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: url('../font/lato-v22-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/lato-v22-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/lato-v22-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/lato-v22-latin-900italic.woff') format('woff'), /* Modern Browsers */
       url('../font/lato-v22-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/lato-v22-latin-900italic.svg#Lato') format('svg'); /* Legacy iOS */
}
/* merriweather-300 - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  src: url('../font/merriweather-v28-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/merriweather-v28-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/merriweather-v28-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/merriweather-v28-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../font/merriweather-v28-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/merriweather-v28-latin-300.svg#Merriweather') format('svg'); /* Legacy iOS */
}
/* merriweather-300italic - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 300;
  src: url('../font/merriweather-v28-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/merriweather-v28-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/merriweather-v28-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/merriweather-v28-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('../font/merriweather-v28-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/merriweather-v28-latin-300italic.svg#Merriweather') format('svg'); /* Legacy iOS */
}
/* merriweather-regular - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('../font/merriweather-v28-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/merriweather-v28-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/merriweather-v28-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/merriweather-v28-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../font/merriweather-v28-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/merriweather-v28-latin-regular.svg#Merriweather') format('svg'); /* Legacy iOS */
}
/* merriweather-italic - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: url('../font/merriweather-v28-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/merriweather-v28-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/merriweather-v28-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/merriweather-v28-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../font/merriweather-v28-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/merriweather-v28-latin-italic.svg#Merriweather') format('svg'); /* Legacy iOS */
}
/* merriweather-700 - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: url('../font/merriweather-v28-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/merriweather-v28-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/merriweather-v28-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/merriweather-v28-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../font/merriweather-v28-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/merriweather-v28-latin-700.svg#Merriweather') format('svg'); /* Legacy iOS */
}
/* merriweather-700italic - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: url('../font/merriweather-v28-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/merriweather-v28-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/merriweather-v28-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/merriweather-v28-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../font/merriweather-v28-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/merriweather-v28-latin-700italic.svg#Merriweather') format('svg'); /* Legacy iOS */
}
/* merriweather-900 - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: url('../font/merriweather-v28-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/merriweather-v28-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/merriweather-v28-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/merriweather-v28-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../font/merriweather-v28-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/merriweather-v28-latin-900.svg#Merriweather') format('svg'); /* Legacy iOS */
}
/* merriweather-900italic - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  src: url('../font/merriweather-v28-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/merriweather-v28-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/merriweather-v28-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/merriweather-v28-latin-900italic.woff') format('woff'), /* Modern Browsers */
       url('../font/merriweather-v28-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/merriweather-v28-latin-900italic.svg#Merriweather') format('svg'); /* Legacy iOS */
}
.logo{
  position: absolute;
width: 52px;
height: 52px;
left: 150px;
top: 48px;
}

.logo_text{
  position: absolute;
width: 246px;
height: 50px;
left: 232px;
top: 50px;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 132%;

background: radial-gradient(94.09% 126.96% at -33.8% 76%, rgba(255, 61, 0, 0.5) 0%, rgba(255, 61, 0, 0.5) 0%, rgba(255, 61, 0, 0.5) 0.01%, rgba(121, 90, 90, 0.5) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #FF7A00;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
/* background-color: radial-gradient(rgba(255, 61, 0, 0.5), rgba(121, 90, 90, 0.5), rgba(255, 122, 0, 1)); */
}

.con1{
  position: absolute;
left: 610px;
top: 20px;
}

.num{
  position: absolute;
width: 101px;
height: 17px;
left: 625px;
top: 20px;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 132%;
/* or 17px */
color: #000000;
}

.con2{
  position: absolute;
width: 17.11px;
height: 17px;
left: 748px;
top: 20px;
}

.num1{
position: absolute;
width: 131.84px;
height: 20px;
left: 770px;
top: 20px;

font-family: Lato;
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 132%;
/* or 17px */
color: #000000;
}

.con3{
  position: absolute;
width: 22.34px;
height: 17px;
left: 911px;
top: 20px;
}

.num2{
  position: absolute;
width: 92px;
height: 18px;
left: 940px;
top: 20px;

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 132%;

color: #000000;
}

.con4{
  position: absolute;
width: 17px;
height: 17px;
left: 1050px;
top: 20px;
}

.num3{
  position: absolute;
width: 113px;
height: 23px;
left: 1072px;
top: 20px;

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 132%;
/* or 17px */


color: #000000;
}

.menu1{
  position: absolute;
  width: 75px;
  height: 17px;
  left: 639px;
  top: 61px;
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
/* identical to box height */

letter-spacing: 0.1em;
text-transform: uppercase;

color: #000000;
}

.menu2{
  position: absolute;
  width: 54px;
  height: 17px;
  left: 732px;
  top: 61px;
  
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  letter-spacing: 0.1em;
  text-transform: uppercase;
  
  color: #000000;
  text-decoration: none;
}

.menu3{
  position: absolute;
  width: 90px;
  height: 17px;
  left: 799px;
  top: 61px;
  
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  letter-spacing: 0.1em;
  text-transform: uppercase;
  
  color: #000000;
  text-decoration: none;
}

.menu4{
  position: absolute;
  width: 118px;
  height: 17px;
  left: 907px;
  top: 61px;
  
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  
  color: #000000;
}

.menu5{
  position: absolute;
  width: 63px;
  height: 17px;
  left: 1043px;
  top: 61px;
  
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  
  color: #000000;
}
.im5{
  position: absolute;
  top: 50px;
  width: 100%;

}
.gr0{
  position: absolute;
  top: 25px;
}
.s2{
  width: 100%;
  height: 1200px;
  background: url(../img/6.png);
}
.text{

position: absolute;
width: 839.71px;
height: 47px;
left: 82.17px;
top: 173px;

font-family: 'Merriweather';
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 69px;

color: #333333;
}

.d1{
position: absolute;
width: 501.02px;
height: 672px;
left: 30px;
top: 957px;

background: rgba(0, 0, 0, 0.76);
border-radius: 79px;
}

.i1{

position: absolute;
width: 334.68px;
height: 323px;
left: 83px;
top: 50px;
}

.t1{
  position: absolute;
width: 185px;
height: 47px;
left: 160px;
top: 428px;

font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 126%;
/* or 60px */


color: #FFFFFF;
}

.d22{
position: absolute;
width: 501.02px;
height: 672px;
left: 645.45px;
top: 957px;

background: rgba(0, 0, 0, 0.76);
border-radius: 79px;
}

.t2{
  position: absolute;
width: 312px;
height: 108px;
left: 110px;
top: 428px;

font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 126%;
/* or 60px */


color: #FFFFFF;
}

.d3{
  position: absolute;
  width: 501.02px;
  height: 672px;
  left: 1235.73px;
  top: 957px;

  background: rgba(0, 0, 0, 0.76);
  border-radius: 79px;
}

.t3{
  position: absolute;
width: 482px;
height: 46px;
left: 33px;
top: 436px;

font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 126%;
/* or 50px */


color: #FFFFFF;
}
.d0{
  width: 100%;
  height: 650px;
  overflow: hidden;
}
.s1{
  position: relative;
  top: 100px;
}
.h1{
  position: absolute;
  left: 92px;
  top: 133px;

/* h1 */

  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 66px;
  z-index: 2;
  color: #FFFFFF;
}
.bt1{
  width: 234.24px;
  height: 33px;
  position: absolute;
  left: 39px;
  top: 13px;

  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 138.27%;
  /* or 33px */
  text-decoration: none;


  color: #FFFFFF;
}
.but{
  position: absolute;
  width: 270.28px;
  height: 60px;
  left: 210.22px;
  top: 287px;
  z-index: 2;
background: #053859;
}
.h{
  position: absolute;
  width: 839.71px;
  height: 47px;
  left: 92px;
  top: 800px;

  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;

/* #333333 */

  color: #333333;
}
.im10{
  width: 100%;
  height: 100%;
}
.d2{
  width: 100%;
  height: 850px;
  overflow: hidden;
}
.hh{
  position: absolute;
  width: 390px;
  height: 50px;
  left: 92px;
  top: 2034px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 138%;
/* or 66px */

  color: #BDBDBD;
}
.box1{
  position: absolute;
  width: 311.27px;
  height: 112px;
  left: 92px;
  top: 2243px;

  border-radius: 20px;
  border: 5px solid;
  border-color: linear-gradient(210.51deg, #11DD4A -5.28%, #E90000 -5.28%, rgba(0, 0, 0, 0.17) 124.66%, #F72929 124.67%);;
}
.box2{
  position: absolute;
  width: 311.27px;
  height: 112px;
  left: 648px;
  top: 2243px;

  border-radius: 20px;
  border: 5px solid;
  border-color: linear-gradient(210.51deg, #11DD4A -5.28%, #E90000 -5.28%, rgba(0, 0, 0, 0.17) 124.66%, #F72929 124.67%);;
}
.box3{
  position: absolute;
  width: 311.27px;
  height: 112px;
  left: 1204px;
  top: 2243px;

  border-radius: 20px;
  border: 5px solid;
  border-color: linear-gradient(210.51deg, #11DD4A -5.28%, #E90000 -5.28%, rgba(0, 0, 0, 0.17) 124.66%, #F72929 124.67%);;
}
.box4{
  position: absolute;
  width: 311.27px;
  height: 112px;
  left: 92px;
  top: 2449px;

  border-radius: 20px;
  border: 5px solid;
  border-color: linear-gradient(210.51deg, #11DD4A -5.28%, #E90000 -5.28%, rgba(0, 0, 0, 0.17) 124.66%, #F72929 124.67%);;
}
.box5{
  position: absolute;
  width: 311.27px;
  height: 112px;
  left: 648px;
  top: 2449px;

  border-radius: 20px;
  border: 5px solid;
  border-color: linear-gradient(210.51deg, #11DD4A -5.28%, #E90000 -5.28%, rgba(0, 0, 0, 0.17) 124.66%, #F72929 124.67%);;
}
.box6{
  position: absolute;
  width: 311.27px;
  height: 112px;
  left: 1204px;
  top: 2449px;

  border-radius: 20px;
  border: 5px solid;
  border-color: linear-gradient(210.51deg, #11DD4A -5.28%, #E90000 -5.28%, rgba(0, 0, 0, 0.17) 124.66%, #F72929 124.67%);;
}
.bp5{
  position: absolute;
  width: 265px;
  height: 53px;
  left: 50px;
  top: -5px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 66px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  /* White */

  color: #FFFFFF;
}
.tb4{
  position: absolute;
  width: 265px;
  height: 53px;
  left: 50px;
  top: 35px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 66px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  /* White */

  color: #FFFFFF;
}
.tb5{
  position: absolute;
  width: 265px;
  height: 53px;
  left: 50px;
  top: 35px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 66px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  /* White */

  color: #FFFFFF;
}
.tb6{
  position: absolute;
  width: 265px;
  height: 53px;
  left: 19px;
  top: 35px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 66px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  /* White */

  color: #FFFFFF;
}
/* .gr1{
  zoom:110%;
}
*/
html{
  zoom: 79%;
}
.s4{
  width: 100%;
  height: 602px;
  background: #EBEBEB;
}
.s4h{
  position: relative;
  width: 367px;
  height: 22px;
  left: 92px;
  top: 73px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 138%;
  /* or 66px */


  /* #BDBDBD */

  color: #BDBDBD;
}
.s4h2{
  position: relative;
  width: 665px;
  height: 44.91px;
  left: 92px;
  top: 163px;

  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;

  /* #333333 */

  color: #333333;
}
.mic1{
  position: relative;
  width: 255px;
  height: 124.22px;
  left: 390px;
  top: 277px;

  background: url(../img/11.png);
}
.mic2{
  position: absolute;
  width: 255px;
  height: 124.22px;
  left: 675px;
  top: 3045px;

  background: url(../img/11.png);
}
.mic3{
  position: absolute;
  width: 255px;
  height: 124.22px;
  left: 960px;
  top: 3045px;

  background: url(../img/11.png);
}
.mic4{
  position: absolute;
  width: 255px;
  height: 124.22px;
  left: 1245px;
  top: 3045px;

  background: url(../img/11.png);
}
.s5i{
  width: 100%;
  height: 929px;
  overflow: hidden;
}
.img12{
  width: 100%;
  height: 100%;
}
.s5p{
  position: absolute;
  width: 196px;
  height: 25px;
  left: 92px;
  top: 3430px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 138%;
  /* or 66px */


  /* #BDBDBD */

  color: #BDBDBD;
}
.s5p2{
  position: absolute;
  width: 633px;
  height: 51.03px;
  left: 96px;
  top: 3531px;

  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;

  /* #333333 */

  color: #333333;
}
.ds5{
  position: absolute;
  width: 1110px;
  height: 347.41px;
  left: 384px;
  top: 3658px;

  background: #EBEBEB;
  border-radius: 49px;  
}
.pds5{
  position: absolute;
  width: 496px;
  height: 50px;
  left: 95px;
  top: 49px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 138%;
  /* identical to box height, or 50px */
  color: #000000;
}
.ids5{
  position: absolute;
  width: 115px;
  height: 124.85px;
  left: 95px;
  top: 174px;
}
.ppds5{
  position: absolute;
  width: 250px;
  height: 28px;
  left: 260px;
  top: 200px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 138%;
  /* or 33px */


  color: #000000; 
}
.pppds5{
  position: absolute;
  width: 417px;
  height: 103.14px;
  left: 260px;
  top: 247px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 138%;
  /* or 33px */


  /* #4F4F4F */

  color: #4F4F4F;
}
.d6i{
  width: 100%;
  height: 100%;
}
.d6{
  width: 100%;
  height: 618px;
  overflow: hidden;
}
.s6p{
  position: absolute;
  width: 445px;
  height: 37px;
  left: 399px;
  top: 4300px;

  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;

  /* White */

  color: #FFFFFF;
}
.s6p2{
  position: absolute;
  width: 380px;
  height: 93px;
  left: 399px;
  top: 4420px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 138%;
  /* or 33px */


  color: #FFFFFF;
}
.im15{
  position: absolute;
  left: 399px;
  top: 4633px;
}
.im16{
  position: absolute;
  top: 4633px;
  left: 601px;
}
.im15p{
  position: absolute;
  width: 144px;
  height: 24px;
  left: 425px;
  top: 4633px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 132%;
  /* identical to box height, or 24px */


  color: #FFFFFF; 
}
.im16p{
  position: absolute;
  width: 120px;
  height: 24px;
  left: 659px;
  top: 4633px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 132%;
  /* identical to box height, or 24px */


  color: #FFFFFF;
}
.name{
  position: absolute;
  width: 63px;
  height: 33px;
  left: 980px;
  top: 4285px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 138%;
  /* or 33px */


  color: #FFFFFF;
}
.surname{
  position: absolute;
  width: 114px;
  height: 33px;
  left: 1330px;
  top: 4285px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 138%;
  /* or 33px */


  color: #FFFFFF;
}
.name2{
  position: absolute;
  width: 63px;
  height: 33px;
  left: 980px;
  top: 4402px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 138%;
  /* or 29px */


  color: #FFFFFF;
}
.surname2{
  position: absolute;
  width: 63px;
  height: 33px;
  left: 1330px;
  top: 4402px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 138%;
  /* or 29px */


  color: #FFFFFF;
}
.hr1{
  position: absolute;
  width: 246.09px;
  height: 0px;
  left: 980px;
  top: 4437px;

  border: 1px solid #FFFFFF;
}
.hr2{
  position: absolute;
  width: 246.09px;
  height: 0px;
  left: 1330px;
  top: 4437px;

  border: 1px solid #FFFFFF;
}
.s6p3{
  position: absolute;
  width: 137px;
  height: 33px;
  left: 980px;
  top: 4497px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 138%;
  /* or 33px */


  color: #FFFFFF;
}
.s6p4{
  position: absolute;
  width: 182px;
  height: 33px;
  left: 980px;
  top: 4535px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 138%;
  /* or 29px */


  color: #FFFFFF;
}
.but2{
  position: absolute;
  width: 290px;
  height: 60px;
  left: 1163px;
  top: 4670px;

  background: #053859;
}
.bt2{
  position: absolute;
  width: 254px;
  height: 33px;
  left: 18px;
  top: 13px;

  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 138.27%;
  /* or 33px */
  text-decoration: none;

  color: #FFFFFF;
}
.ft0{
  position: absolute;
  width: 414px;
  height: 34px;
  left: 399px;
  top: 4900px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 138%;
  /* identical to box height, or 33px */


  color: #000000;
}
.ft1{
  position: absolute;
  width: 302px;
  height: 53px;
  left: 1205px;
  top: 4900px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 138%;
  /* or 33px */

  text-align: right;

  color: #000000;
}